.todo-wrapper {
    max-width: 422px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2em;
    height: 500px;
    border-radius: 12px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #000000;
}

.input-wrapper input {
    padding: 1em 0.5em;
    max-width: 297px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgb(133, 133, 133);
}

#add-to-list {
    padding: 1em 3em;
    border-radius: 12px;
    border: 0;
}

.list {
    padding: 0;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

.list-item {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #fff; */
}

.remove {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#input-text:focus-visible {
    outline: none;
}

.list-item.checked:not(.list-item.checked>div) {
    text-decoration: line-through;
    color: #8d8d8d;
}

.action-list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}